{%extends 'base.html'%}

 {% block content %}

 <div class="container">

    <div class="row">
        <img src="{{image.image.url}}"  class="img-responsive" alt="">
    </div>
    <div class="row">
        <h1 class="text-center">Name:{{image.name}}</h1>
    </div>
       
    <div class="row">
        <p>Caption:{{image.caption}}</p>
    </div>
       <h1>Poster:{{image.user}}</h1>
    </div>
    <div>comments:{{image.comment}}</div>
    <div>

       <button><a href="{%url 'comments'%}">Comment</a></button>
   
</div>
       
{% endblock %}